@charset "utf-8";
/* CSS Document */

#tipDiv {
	padding: 5px;
	width: auto;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	line-height: 18px;
	background-color:#fff;
	color: #999;
	text-align: left;
	white-space: nowrap;
}
